body{
	padding: 0;
	margin: 0;

	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #ffffff;

	background-image: url(../img/fon.jpg);
	background-repeat: repeat;
  background-size: cover;

  box-sizing: border-box;
}

h1,
p{
	text-align: center;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 2em;
	line-height: 1.5;
}

p{
	font-style: italic;
}

 @media (max-width: 560px) {
h1{
	font-size: 1em;
	line-height: 0.8;
}


p{
	font-size: 0.8em;
	line-height: 0.7;
}
  }

 .main_on_page{
 	width: 80%;
	margin: auto auto;
}

.cross_info,
.view_info{
	display: inline-block;
		
	width: 100%;
	margin: 0;

	background-color: #c0c0c0;
	opacity: 0,7;
	font-size: 10pt;
}

.cross_info{
	height: 400px;
}

.name-event{
	background-color: #f2f3f4;
	height: 20px;
}
		
.info_text{
	height: 135px;
	overflow: scroll;
	margin-bottom:15px; 
	background-color: #f2f3f4;
}

.coords{
	width: 100%;
}

#image-map-wrapper{
	text-align: center;
}

#image-map-container{
	display: inline-block;
	border: 2px solid #ddd;
	padding: 2px;
	border-radius: 3px;
	max-width: 100%;
}

.image-mapper{
	position: relative;
	user-select: none;
}

.image-mapper-img{	
	max-width: 100%;
	max-height: 100%;
}

img{
	vertical-align: middle;
	border: 0;
}

.image-mapper-svg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

circle{
	fill: rgb(255, 0, 0);
	stroke: rgb(255, 0, 0);
	stroke-width: 1;
	cursor: pointer;
}

.image-mapper-point{
	fill: rgb(0, 128, 0);
	stroke: rgb(0, 128, 0);
}

.view_info img{
	display: block;
	margin: 0 auto;
	width: 35%;
}

#swordTop {
	position: fixed;
  top: 10px;
  right: 20px;
	height: 75px;
  width: 20px;
  cursor: pointer;
}


